services:
  flask-web:
    container_name: flask-web
    build:
      context: .
      dockerfile: ./compose/flask/Dockerfile
    volumes:
      - .:/app
    ports:
      - 5000:5000
    env_file: ./.env.dev
    command: /start
    depends_on:
      - db

  db:
    container_name: mariadb
    image: mariadb:10.4
    restart: always
    environment:
      - MARIADB_USER=user
      - MARIADB_PASSWORD=mypassword
      - MARIADB_ROOT_PASSWORD=rootpassword
      - MARIADB_DATABASE=mydatabase
    volumes:
      - dbdata:/var/lib/mariadb/data/
    ports:
      - 3306:3306

volumes:
  dbdata:
